:root {
  --dark-color: rgb(221, 47, 110);
  --dark-pink: #e98ead;
  --light-pink: #ffc6d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body{
  min-height: 85vh;
}

.introduce-menu{
  text-align: center;
  padding-top: 57px;
}

.text-logo{
  font-size: 23px;
  color: white;
  padding-top: 10px;
}

.dashboard-menu-left{
  background: var(--dark-color);
  backdrop-filter:blur(15px);
  width: 290px;
  height: 100vh;
  position: fixed;
  top:0;
  left: -100%;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
}

.dashboard-menu-left.dashboard-menu-active{
  left: 0;
}

.dashboard-menu-left .menu-list{
  width: 100%;
  margin-top: 25px;
}

.dashboard-menu-left .menu-list .list-item{
  position:relative;
  cursor:pointer;
}

.dashboard-menu-left .menu-list .list-item a{
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.dashboard-menu-left .menu-list .list-item a:hover{
  background: var(--light-pink);
  color: var(--dark-color);
  transition: 0.3s ease;
}

.list-item-active{
  background: var(--dark-pink);
  color: black;
}

.list-item a {
  color: white;
}

.dashboard-menu-left .menu-list .list-item i{
  margin-right: 15px;
}

.dashboard-menu-left .menu-list .list-item a .dropdown{

  position: absolute;
  right:0;
  margin: 20px;
  transition: 0.3s ease;
}

.dashboard-menu-left .menu-list .list-item .sub-menu{
  background: rgba(255,255,255 , 0.1);
  display:none;
}

.dashboard-menu-left .menu-list .list-item .sub-menu a{
  padding-left: 80px;
}

.rotate{
  transform: rotate(90deg);
}

.close-btn{
  position: absolute;
  color: #fff;
  font-size: 20px;
  right: 0;
  margin: 25px;
  cursor: pointer;
}


.menu-btn{
  position: absolute;
  color: var(--dark-color);
  font-size: 20px;
  margin: 25px;
  cursor: pointer;
}

/* dashboard menu product  */

.dashboard-container{
  margin: 40px 40px 0 290px;
}

.dashboard-products-list{
  display: flex;
  justify-content: space-between;
}

.dashboard-products-item{
  color: black;
  z-index: 99;
  background-color: var(--dark-color);
  padding: 30px 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.dashboard-products-item:hover{
  background-color: var(--light-pink);
  transition: 0.5s;
  color: var(--dark-color);
}
