@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#slider {
  margin: 18px auto;
  width: 100%;
  overflow: hidden;
}

.slides {
  overflow: hidden;
  animation-name: fade;
  animation-duration: 1s;
  display: none;
}
.slides img {
  width: 100%;
}

#dot {
  margin: 0 auto;
  text-align: center;
}
.dot {
  display: inline-block;
  border-radius: 50%;
  background: transparent;
  padding: 1px;
  margin: 10px 5px;
}

.active {
  background: transparent;
}

@media (max-width: 567px) {
  #slider {
    width: 100%;
  }
}

#heading {
  display: block;
  text-align: center;
  font-size: 2em;
  margin: 10px 0px;
}
.new-viral--form {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.newviral--item {
  margin-bottom: 30px;
}

.home-product-item {
  box-shadow: rgba(121, 120, 120, 0.2) 0px 2px 8px 0px;
  padding-bottom: 20px;
}

.home-product-item:hover {
  box-shadow: rgba(142, 32, 111, 0.2) 0px 2px 8px 0px;
}

.new-viral--title {
  font-size: 30px;
  text-align: center;
}

.new-viral--contain {
  padding-top: 20px;
  background-color: pink;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.grid.wide.new-viral--contain {
  margin-top: 20px;
}
