:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgb(230, 9, 101);
    --primary-color-rgba: rgba(230, 9, 101, 0.8);
    --border-color: #dbdbdb;
    
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
    --star-gold-color: rgb(255, 247, 0);
}

*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    /*1rem = 10px
    62.5 % so, if u want font-size of p UNDER have ?rem,just let font-size at 62.5, dont press at 100%*/
    line-height: 1.6rem;/*is 16px*/
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/*ANIMATION*/
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth {
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}
/*Modal*/
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    z-index: 0;
    animation: fadeIn ease-in 0.1s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3) ;
}

.modal__body{    
    --growth-from: 0.7;
    --growth-to: 1;
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    z-index: 3;
    border-radius: 3px;
    animation: growth linear 0.1s;
}

/*BTN STYLE*/
.btn{
    min-width: 124px;
    height: 36px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.2rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    background-color: var(--white-color);
}

.btn.btn--nomal:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disabled{
    cursor: default;
    background-color: rgb(172, 170, 170);
    color: rgb(158, 158, 158)
}

.btn.btn--size-s{
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

/*Selection*/
.select-input{
    min-width: 200px;
    height: 36px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.home-filter__btn{
    min-width: 80px;
}

.select-input__label{
    font-size: 1.4rem;
}

.select-input__icon{
    font-size: 1.4rem;
    color: var(--text-color);   
    position: relative; 
}

.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    border-radius: 2px;
    background-color: var(--white-color);
    margin-top: 0;
    list-style: none;
    padding: 0;    
}

/*pagination*/
.pagination{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.pagination-item{

}

.pagination-item--active .pagination-item__link{
    color: var(--white-color);
    background-color: var(--primary-color);

}

.pagination-item__link{
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;

}

.pagination-item__icon{

}

/*footer*/