<footer class="footer">
    <div class="grid wide">
        <div class="row sm-gutter app__content">
            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__heading">Take care customers</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Help Center</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Shopping guide</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Transport</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Help Center</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Help Center</a>
                    </li>
                </ul>
            </div>

            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__heading">Introduce</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Help Center</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Shopping guide</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Transport</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Help Center</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Help Center</a>
                    </li>
                </ul>
            </div>

            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__heading">Take care customers</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Help Center</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Shopping guide</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Transport</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Help Center</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Help Center</a>
                    </li>
                </ul>
            </div>

            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__heading">Follow us</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="https://www.facebook.com/JuliaAriannn/" class="footer-item__link">
                            <i class="footer-item__icon fa-brands fa-facebook"></i>
                            Facebook
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="https://www.instagram.com/julia_arian/" class="footer-item__link">
                            <i class="footer-item__icon fa-brands fa-instagram"></i>
                            Instagram
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="https://github.com/NHU0606" class="footer-item__link">
                            <i class="footer-item__icon fa-brands fa-github"></i>
                            Github
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__heading">Come in app</h3>
                <div class="footer_download">
                    <img src="./img/qr_zalo.jpg" alt="" class="footer__download-qr">
                    <div class="footer_download-apps">
                        <a href="" class="footer_download-app-link">
                            <img src="./img/app_store.png" alt="" class="footer_download-app-img">
                        </a>
                        <a href="" class="footer_download-app-link">
                            <img src="./img/gg_play.png" alt="" class="footer_download-app-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="grid__row">
            <p class="footer__text">© 2022 - Copyright belong to Julia Toy Store</p>
        </div>
    </div>
</footer>