<div class="grid wide">
  <div class="row sm-gutter app__content">
    <!--Col-2 is list product use 2 col of 12 col-->
    <!--grid__column-2-->
    <div class="col l-2 m-0 c-0">
      <nav class="category">
        <h3 class="category__heading">
          <i class="category__heading-icon fa-solid fa-list"></i>
          List Products
        </h3>
        <ul id="menu-list" class="categor-list">
          <!-- <li class="category-item" data-slug="dolls">
                      <a href="#" class="category-item__link">Dolls</a>
                  </li>
                  <li class="category-item" data-slug="teddy">
                      <a href="#" class="category-item__link">Teddy Bear</a>
                  </li>
                  <li class="category-item" data-slug="lego">
                      <a href="#" class="category-item__link">Lego</a>
                  </li>
                  <li class="category-item" data-slug="puzzle">
                      <a href="#" class="category-item__link">Puzzle</a>
                  </li>
                  <li class="category-item" data-slug="car">
                      <a href="#" class="category-item__link">Car</a>
                  </li> -->
        </ul>
      </nav>
    </div>

    <!--grid__column-10-->
    <div id="sub-content" class="col l-10 m-12 c-12"></div>
    <!-- <div id="slider"></div>        -->
  </div>
</div>
<script src="/js/menu.js"></script>
