        <ul class="header__sort-bar">
          <li class="header__sort-item" data-slug="dollM">
            <a href="#" class="header__sort-link">Dolls</a>
          </li>
          <li class="header__sort-item" data-slug="teddyM">
            <a href="#" class="header__sort-link">Teddy Bear</a>              
          </li>
          <li class="header__sort-item" data-slug="legoM">
            <a href="#" class="header__sort-link">Lego</a>
          </li>
          <li class="header__sort-item" data-slug="puzzleM">
            <a href="#" class="header__sort-link">Puzzle</a>
          </li>
          <li class="header__sort-item" data-slug="carM">
            <a href="#" class="header__sort-link">Car</a>
          </li>
        </ul> 

      <div id="sub-content--mobile"></div>      
<script src="/js/menu_mobile.js"></script>
