<ul class="header__sort-bar">
  <li class="header__sort-item">
      <a href="../pages/doll.html" class="header__sort-link">Dolls</a>
  </li>
  <li class="header__sort-item">
      <a href="../pages/teddy.html" class="header__sort-link">Teddy Bear</a>
  </li>
  <li class="header__sort-item">
      <a href="../pages/oop_noProduct.html" class="header__sort-link">Lego</a>
  </li>
  <li class="header__sort-item">
      <a href="../pages/oop_noProduct.html" class="header__sort-link">Puzzle</a>
  </li>
  <li class="header__sort-item">
      <a href="../pages/oop_noProduct.html" class="header__sort-link">Car</a>
  </li>
</ul>