<div id="slider">
    <div class="slides">
        <img src="../img/slide_lina.png" width="100%" />
    </div>

    <div class="slides">
        <img src="../img/slide_lou.png" width="100%" />
    </div>

    <div class="slides">
        <img src="../img/slide_doll1.png" width="100%" />
    </div>

    <div class="slides">
        <img src="../img/slide_snow.png" width="100%" />
    </div>

    <div class="slides">
        <img src="../img/slide_doll2.png" width="100%" />
    </div>
    <div id="dot"><span class="dot"></span><span class="dot"></span><span class="dot"></span><span
            class="dot"></span><span class="dot"></span>
    </div>
</div>
<script src="js/slider_main.js"></script>