<div class="col l-10 m-12 c-12 dashboard-container">
  <div class="dashboard-products-list">
    <div class="dashboard-products-item" data-slug="">ALL PRODUCTS</div>
    <div class="dashboard-products-item" data-slug="">DOLL</div>
    <div class="dashboard-products-item" data-slug="">TEDDY BEAR</div>
    <div class="dashboard-products-item" data-slug="">LEGO</div>
    <div class="dashboard-products-item" data-slug="">PUZZLE</div>
    <div class="dashboard-products-item" data-slug="">CAR</div>
  </div>
  <div id="dashboard-products-list-item" class="dashboard-products-list-item">
    <!-- <div id="dashboard-product-item" class="col l-3 m-6 c-6 newviral--item">
      <a class="home-product-item" href="#">
        <div
          class="home-product-item__img"
          style="
            background-image: url('https://vn-test-11.slatic.net/p/86a6084c7f9e2ae31546ccdac7df4172.jpg');
          "
        ></div>
        <h4 class="home-product-item__name">name</h4>
        <div class="home-product-item__price">
          <span class="home-product-item__price-old">222222</span>
          <span class="home-product-item__price-current">111111</span>
        </div>
        <div class="home-product-item___sale-off">
          <span class="home-product-item___available-precent">2</span>
          <span class="home-product-item___available-label">AVAILABLE</span>
        </div>
      </a>
    </div>

    <div id="dashboard-product-item" class="col l-3 m-6 c-6 newviral--item">
      <a class="home-product-item" href="#">
        <div
          class="home-product-item__img"
          style="
            background-image: url('https://vn-test-11.slatic.net/p/86a6084c7f9e2ae31546ccdac7df4172.jpg');
          "
        ></div>
        <h4 class="home-product-item__name">name</h4>
        <div class="home-product-item__price">
          <span class="home-product-item__price-old">222222</span>
          <span class="home-product-item__price-current">111111</span>
        </div>
        <div class="home-product-item___sale-off">
          <span class="home-product-item___available-precent">2</span>
          <span class="home-product-item___available-label">AVAILABLE</span>
        </div>
      </a>
    </div><div id="dashboard-product-item" class="col l-3 m-6 c-6 newviral--item">
      <a class="home-product-item" href="#">
        <div
          class="home-product-item__img"
          style="
            background-image: url('https://vn-test-11.slatic.net/p/86a6084c7f9e2ae31546ccdac7df4172.jpg');
          "
        ></div>
        <h4 class="home-product-item__name">name</h4>
        <div class="home-product-item__price">
          <span class="home-product-item__price-old">222222</span>
          <span class="home-product-item__price-current">111111</span>
        </div>
        <div class="home-product-item___sale-off">
          <span class="home-product-item___available-precent">2</span>
          <span class="home-product-item___available-label">AVAILABLE</span>
        </div>
      </a>
    </div> -->
  </div>
</div>
<!-- this is a filter of dashboard  -->

<script src="/js/dashboard.js"></script>
<script src="/js/productDB.js"></script>

<style>
  .home-product-item__img {
    padding-top: 0;
  }

  .dashboard-container--products {
    display: flex;
    flex-wrap: wrap;
  }

  .col.l-10.m-12.c-12.dashboard-container--products {
    padding: 0;
  }

  .dashboard-products-list-item{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
</style>
