<!-- this is the menu dashboard show item at the left  -->
<header>
  <nav>
    <div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>

    <div class="col l-2 m-12 c-12 dashboard-menu-left dashboard-menu-active">
        <div class="introduce-menu">
            <img src="/img/fav1.png" alt="" class="img-logo">
            <div class="text-logo">Julia's Toy Store</div>
        </div>
        <div id="menu-list-dashboard" class="menu-list">
          <!-- <div class="list-item">
            <a class="sub-btn"> Products </a>
          </div>

          <div class="list-item">
            <a href="#">Shipper</a>
          </div>

          <div class="list-item">
            <a class="sub-btn"> Products </a>
          </div> -->
        </div>
        <div id="form-btn-logout" class="form-btn-logout">
          <button type="button" id="btn--logout" class="btn--logout">LOG OUT</button>
        </div>
    </div>
  </nav>
</header>

<div id="products-container"></div>

<script src="/js/dashboard.js"></script>